
:root {
/*Primary Colours*/
    --violet:#7440c6;
    --violetTwo:#A774F3;
    --grey: hsl(217, 19%, 35%);
    --blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
/*Neutral Colours*/
     --gray: hsl(0, 0%, 81%);
     --grayish: hsl(210, 46%, 95%);
}

/*Fonts*/
.barlow-semi-condensed-regular {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-semi-condensed-medium {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-semi-condensed-semibold {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .barlow-semi-condensed-bold {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .barlow-semi-condensed-extralight-italic {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .barlow-semi-condensed-light-italic {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .barlow-semi-condensed-semibold-italic {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  

